<head>

</head>
<body>
  <h1>Add Book</h1>
  <form action ='/addbook' method='post'>
    Title: <br>
    <input type='text' name='name'><br>
    Price: <br>
    <input type='text' name='price'><br>
    Stock: <br>
    <input type='text' name='stock'><br>
    <input type='submit' value='Add Book'>
  </form>
</body>
