<html>

<head>
 <title>Book Store</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <style>

   body {
    background: red;
    align-items: center;
    background-image: url('http://giris.io/wp-content/uploads/2015/09/shutterstock_159503864-1920x768.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

   form{
     padding-left: 50px;
   }

   h1{
     padding-top: 80px;
     padding-left: 50px;
   }

   .navbar {
     margin-bottom: 0;
     border-radius: 0;
     background-color: black;
   }

   .row.content {height: 450px}

   .sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     height: 100%;
   }

   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height:auto;}
   }

 </style>

</head>

  <nav class="navbar navbar-inverse">

    <a class="navbar-brand">My Book Store</a>

   <div class="container-fluid">

     <div class="navbar-header">


     </div>

       <ul class="nav navbar-nav navbar-right">

         <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

       </ul>

     </div>

   </div>

  </nav>

  <body>

    <h1>Sign Up</h1>

      <form action="/" method="post" >
        Name:<br>
        <input type="text" placeholder="Input Your Name" name="name">
        <br>
        User Name:<br>
        <input type="text" placeholder="User Name" name="user_name">
        <br>
        Email:<br>
        <input type="text" placeholder="Email" name="email">
        <br>
        Password:<br>
        <input type="password" placeholder="Enter Password" name="password">
        <br>
        Role:<br>
        <select  name="role">
          <option value="seller">Seller</option>
          <option value="customer">Customer</option>
        </select>
        <br>
        <br><br>
        <input type="submit" value="Register">
      </form>

  </body>

</html>
